// color
$dark-color : #343a40;
$light-blue-color : #007bff;
$dark-blue-color : #0069d9;
$white : #f7f9fa;
$gray : rgba(255, 255, 255, 0.65);
$dark-gray : rgba(255, 255, 255, 0.9);

// font
$biggest-text : 3.5rem;
$big-text : 2.5rem;
$normal-text : 1.25rem;
$small-text : .875rem;
