// color
$dark-color : #343a40;
$light-blue-color : #007bff;
$dark-blue-color : #0069d9;
$white : #f7f9fa;
$gray : rgba(255, 255, 255, 0.65);
$dark-gray : rgba(255, 255, 255, 0.9);

// font
$biggest-text : 3.5rem;
$big-text : 2.5rem;
$normal-text : 1.25rem;
$small-text : .875rem;

// sidebar
.overlay {
  display: none;
}
.content {
  display: flex;
}
.d-mobile {
  display: none;
}
.sidebar {
  width: 265px;
  height: 100%;
  background-color: $dark-color;
  padding: 1.5rem;
  box-sizing: border-box;
  position: sticky;
  top: 0;
  z-index: 999;
  overflow-y: scroll;
  height: 100vh;
  transition: width .5s;
  white-space: nowrap;
  &::-webkit-scrollbar {
		display: none;
  }
}
.logo {
  margin-bottom: 3rem;
  &__link {
    display: block;
  }
}
// navbar
.navbar {
  $self : &;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding-bottom: 1.5rem;
  margin-bottom: 1rem;
  &__link {
    padding: .5rem 0;
    display: block;
    color: $white;
    font-weight: 500;
  }
  &__dropdown {
    position: relative;
    &::after {
      font-family: "Font Awesome 5 Free"; 
      font-weight: 600; 
      content: "\f0da";
      position: absolute;
      right: 0.5rem;
    }
    &.show {
      &::after {
        font-family: "Font Awesome 5 Free"; 
        font-weight: 600; 
        content: "\f0d7";
        position: absolute;
        right: 0.5rem;
      }
    }
  }
  &__submenu {
    display: none;
    #{$self}__link {
      padding: .25rem 0;
      font-size: $small-text;
      color : $gray;
      font-weight: 500;
      transition: all .4s;
      &:hover {
        color : rgba(255, 255, 255, 0.9);
      }
    }
  }
}

.quick-links {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding-bottom: 1.5rem;
  margin-bottom: 1rem;
  &__title {
    font-size: $small-text;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: .75rem; 
  }
  &__link {
    display: block;
    font-size: $small-text;
    padding: .25rem 0;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.65);
    &:hover {
      color: rgba(255, 255, 255, 0.9);
    }
  }
}

.search {
  margin-bottom: .9rem;
  &__form {
      position: relative;
  }
  &__button {
      position: absolute;
      border: none;
      background-color: transparent;
      font-size: .825rem;
      color: rgba(255, 255, 255, 0.25);
      top: 50%;
      left: 7%;
      transform: translateY(-50%);
      cursor: pointer;
  }
  &__input {
    width: 100%;
    padding: .65rem 0;
    border-radius: 1.5rem;
    border: none;
    background-color: #494e53;
    padding-left: 2.75rem;
    box-sizing: border-box;
    transition: all .3s;
    &[type="text"] {
      font-size: .9rem;
      font-weight: 600;
      color: rgba(255, 255, 255, 0.35);
    }
    &:focus {
      outline: none;
      box-shadow: 0 0 0 1px #83ccd7;
    }
  }
}
.add-new {
  position: relative;
    &__btn {
      width: 100%;
      padding: .6rem;
      border-radius: .3rem;
      background-color: $light-blue-color;
      font-size: 1rem;
      color: $white;
      font-weight: 600;
      cursor: pointer;
      border: none;
      margin-bottom: 1.5rem;
      outline: 0;
      &:after {
        font-family: "Font Awesome 5 Free"; 
        content: "\f0d7";
        margin-left: 0.5rem;
        position: absolute;
        color: $gray;
      }
      &:hover {
        background-color: $dark-blue-color;
      }
      &:focus {
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
      }
    }
    .dropdown {
      display: none;
      width: 9rem;
      border-radius: .5rem;
      box-sizing: border-box;
      padding: .75rem;
      background-color: $white;
      position: absolute;
      z-index: 100;
      top: 64%;
      &__link {
        display: block;
        padding: .15rem .5rem;
        color: #006fe6;
        font-size: 85%;
        &:hover {
          color: #006fe6;
          background-color: #EEF2F5;
          border-radius: .3rem;
        }
        &:active {
          background-color: #006fe6;
          color: #fff;
        }
      }
    }
}

.profile {
  $self : &;
  position: relative;
  &__img {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
  }
  &__list {
    display: none;
    width: 10rem;
    border-radius: .5rem;
    box-sizing: border-box;
    padding: .75rem;
    background-color: #fff;
    position: absolute;
    bottom: 115%;
    z-index: 100;
    box-shadow: 0 0.1875rem 0.375rem rgba(33, 37, 41, 0.1);
    #{$self}__link {
      display: block;
      padding: .15rem .5rem;
      color: #006fe6;
      font-size: 85%;
      font-weight: 500;
      &:hover {
        color: #006fe6;
        background-color: #EEF2F5;
        border-radius: .3rem;
      }
      &:active {
        background-color: #006fe6;
        color: #fff;
      }
    }
  }
}
// main-content
.main-content {
  width: calc(100% - 265px);
  background-color: #f5f7f8;
  .container {
    width: 69%;
    margin: 0 auto;
  }
}

.management-template {
  padding: 4.5rem 0;
  &__img {
    width: 4.5rem;
    height: 4.5rem;
    position: relative;
  }
  
  .badge {
    display: inline-block;
    font-size: 75%;
    color: #fff;
    padding: 0 .25rem;
    background-color: #28a745;
    border-radius: .25rem;
    position: absolute;
    margin-left: .5rem; 
  }
  &__heading {
    font-weight: 500;
    font-size: 3.5rem;
    line-height: 1.2;
    margin-bottom: 1.5rem;
  }
  &__paragraph {
    font-size: 1.25rem;
    font-weight: 400;
    color: #6c757d;
  }
  .dropdown-group {
    display: flex;
    .dropdown {
      $self : &;
      position: relative;
      &:first-child {
        margin-right: 2.5rem;
      }
      &__selection {
        color: #007bff;
        position: relative;
        font-family: myFont;
        &:hover {
          color: #0056b3;
        }
        &:after {
          font-family: "Font Awesome 5 Free"; 
          font-weight: 900; 
          content: "\f0d7";
          margin-left: 0.5rem;
          position: absolute;
        }
      }
      &__list {
        display: none;
        width: 12rem;
        border-radius: .5rem;
        box-sizing: border-box;
        padding: .75rem;
        background-color: #fff;
        position: absolute;
        z-index: 100;
        box-shadow: 0 0.1875rem 0.375rem rgba(33, 37, 41, 0.1);
      }
      &__link {
        display: block;
        padding: .15rem .5rem;
        color: #2080e6;
        font-size: 85%;
        font-weight: 600;
        font-family: myFont;
        &:hover {
          color: #006fe6;
          background-color: #EEF2F5;
          border-radius: .3rem;
        }
        &:active {
          background-color: #006fe6;
          color: #fff;
        }
      }
    }
  }
}

.management-pages {
  $self : &;
  padding: 4.5rem 0;
  .carousel {
    position: relative;
    height: 27.5rem;
    margin-bottom: 4.5rem;
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.07);
    &__img {
      max-width: 100%;
      height: auto;
    }
    &__item {
      position: absolute;
    }
    &__link {
      display: block;
    }
  }
    &__icon {
      font-size: 2.25rem;
      line-height: 2;
      margin-right: 1.5rem;
      color: #007bff;
    }
    &__title {
      display: flex;
      align-items: center;
      margin-bottom: 1.5rem;
    }
  &__heading {
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 0;
  }
  &__paragraph {
    font-size: 1.25rem;
    font-weight: 400;
    color: #6c757d;
  }
  .link-group {
    display: flex;
  }
  &__link {
    color: #007bff;
    font-family: myFont;
    &:first-child {
      margin-right: 1.5rem;
    }
    &:hover {
        color: #0056b3;
      }
    }
}

.modular-components {
  $self : &;
  padding: 4.5rem 0;
  .carousel-group {
    margin-bottom: 4.5rem;
  }
  .carousel {
    position: relative;
    height: 15rem;
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.07);
    &__img {
      width: 100%;
      height: auto;
      padding: 0 14px;
      box-sizing: border-box;
    }
    &__item {
      position: absolute;
    }
  }
  &__title {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
  }
    &__icon {
      font-size: 2.25rem;
      line-height: 1.4;
      margin-right: 1.5rem;
      color: #007bff;
    }
  &__heading {
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 0;
  }
  &__paragraph {
    font-size: 1.25rem;
    font-weight: 400;
    color: #6c757d;
  }
  .link-group {
    display: flex;
  }
  &__link {
    color: #007bff;
    font-family: myFont;
    &:first-child {
      margin-right: 1.5rem;
    }
    &:hover {
      color: #0056b3;
    }
  }
}

.flexible-layouts {
  $self : &;
  padding: 4.5rem 0;
  &__img {
    max-width: 100%;
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.07);
    margin-bottom: 4rem;
  }
  &__icon {
    font-size: 2.25rem;
    line-height: 1.4;
    margin-right: 1.5rem;
    color: #007bff;
  }
  &__title {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
  }
  &__heading {
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 0;
  }
  &__paragraph {
    font-size: 1.25rem;
    font-weight: 400;
    color: #6c757d;
  }
  .link-group {
    display: flex;
  }
  &__link {
    color: #007bff;
    font-family: myFont;
    &:first-child {
      margin-right: 1.5rem;
    }
    &:hover {
      color: #0056b3;
    }
  }
}

.famililar-tooling {
  $self : &;
  padding: 4.5rem 0;
  &__img {
    max-width: 100%;
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.07);
    margin-bottom: 4rem;
  }
  &__icon {
    font-size: 2.25rem;
    line-height: 1.4;
    margin-right: 1.5rem;
    color: #007bff;
  }
  &__title {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
  }
  &__heading {
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 0;
  }
  &__paragraph {
    font-size: 1.25rem;
    font-weight: 400;
    color: #6c757d;
  }
  .link-group {
    display: flex;
  }
  &__link {
    font-family: myFont;
    color: #007bff;
    &:first-child {
      margin-right: 1.5rem;
    }
    &:hover {
      color: #0056b3;
    }
  }
}
